/* Then use the same other styles */

:root {
  --primary-hue: 257deg;
  --primary-saturation: 26%;
  --primary-lightness: 42;
}

.content code:not(.code-block code) {
  color: #c97c2e;
}

.featured-image {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.featured-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

